http_interactions:
- request:
    method: get
    uri: http://a02235015-6.bluezone.usu.edu/api/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/ld+json; charset=utf-8
      link: <http://a02235015-6.bluezone.usu.edu/api/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
    body:
      encoding: UTF-8
      string: '{"@context":"\/api\/contexts\/Entrypoint","@id":"\/api","@type":"Entrypoint","configurations":"\/api\/configurations","schemaVersion":"\/api\/schemaversion","lookupLanguages":"\/api\/lookuplanguages","users":"\/api\/users","checklists":"\/api\/checklists","taxaComments":"\/api\/checklist\/taxacomments","children":"\/api\/checklist\/children","taxaLink":"\/api\/checklist\/taxalink","projectCategories":"\/api\/checklist\/projectcategories","vouchers":"\/api\/checklist\/vouchers","dynamic":"\/api\/checklist\/dynamic","checklistProjects":"\/api\/checklist\/checklistprojects","coordinates":"\/api\/checklist\/coordinates","stats":"\/api\/collection\/stats","institutions":"\/api\/collection\/institutions","collections":"\/api\/collections","categories":"\/api\/collection\/categories","queue":"\/api\/crowdsource\/queue","central":"\/api\/crowdsource\/central","titles":"\/api\/exsiccati\/titles","numbers":"\/api\/exsiccati\/numbers","sources":"\/api\/glossary\/sources","termLink":"\/api\/glossary\/termlink","glossary":"\/api\/glossary","projects":"\/api\/imageprocessor\/projects","nlpVersion":"\/api\/imageprocessor\/nlpversion","ocrFragment":"\/api\/imageprocessor\/ocrfragment","nlpFragment":"\/api\/imageprocessor\/nlpfragment","rawLabels":"\/api\/imageprocessor\/rawlabels","nlp":"\/api\/imageprocessor\/nlp","characterHeading":"\/api\/key\/characterheading","characterStateLanguages":"\/api\/key\/characterstatelanguages","characterLanguages":"\/api\/key\/characterlanguages","characters":"\/api\/key\/characters","descriptions":"\/api\/key\/descriptions","descriptionDeletions":"\/api\/key\/descriptiondeletions","characterStates":"\/api\/key\/characterstates","characterStateImages":"\/api\/key\/characterstateimages","tagKey":"\/api\/media\/tagkey","media":"\/api\/media","images":"\/api\/media\/images","guid":"\/api\/media\/guid","keywords":"\/api\/media\/keywords","tag":"\/api\/media\/tag","associations":"\/api\/occurrenceassociations\/associations","comments":"\/api\/occurrencecomments\/comments","datasetLink":"\/api\/occurrencedataset\/datasetlink","datasets":"\/api\/occurrencedataset\/datasets","genetic":"\/api\/occurrencegenetic\/genetic","exchange":"\/api\/occurrenceloan\/exchange","loans":"\/api\/occurrenceloan\/loans","revisions":"\/api\/occurrence\/revisions","edits":"\/api\/occurrence\/edits","uploadDeterminations":"\/api\/occurrence\/uploaddeterminations","fullText":"\/api\/occurrence\/fulltext","uploadParameters":"\/api\/occurrence\/uploadparameters","duplicates":"\/api\/occurrence\/duplicates","lookupChronostratigraphy":"\/api\/occurrence\/lookupchronostratigraphy","accessStats":"\/api\/occurrence\/accessstats","editLocks":"\/api\/occurrence\/editlocks","lookupCounties":"\/api\/occurrence\/lookupcounties","geoIndex":"\/api\/occurrence\/geoindex","lookupStateProvinces":"\/api\/occurrence\/lookupstateprovinces","occurrences":"\/api\/occurrences","determinations":"\/api\/occurrence\/determinations","verification":"\/api\/occurrence\/verification","uploadMappings":"\/api\/occurrence\/uploadmappings","lookupCountries":"\/api\/occurrence\/lookupcountries","identifiers":"\/api\/occurrence\/identifiers","guidOccurrences":"\/api\/occurrence\/guidoccurrences","uploadOccurrences":"\/api\/occurrence\/uploadoccurrences","guidDeterminations":"\/api\/occurrence\/guiddeterminations","lookupMunicipalities":"\/api\/occurrence\/lookupmunicipalities","checklistTaxaLink":"\/api\/reference\/checklisttaxalink","authors":"\/api\/reference\/authors","lookupReferenceTypes":"\/api\/reference\/lookupreferencetypes","references":"\/api\/references","descriptionBlock":"\/api\/taxa\/descriptionblock","synonymy":"\/api\/taxa\/synonymy","authorities":"\/api\/taxa\/authorities","taxa":"\/api\/taxa","resourceLinks":"\/api\/taxa\/resourcelinks","maps":"\/api\/taxa\/maps","descriptionStatements":"\/api\/taxa\/descriptionstatements","relationships":"\/api\/taxa\/relationships","upload":"\/api\/taxa\/upload","links":"\/api\/taxa\/links","userTaxonomy":"\/api\/taxa\/usertaxonomy","vernaculars":"\/api\/taxa\/vernaculars","ranks":"\/api\/taxa\/ranks","attributes":"\/api\/traits\/attributes","traits":"\/api\/traits","dependencies":"\/api\/traits\/dependencies","states":"\/api\/traits\/states"}'
  recorded_at: 2020-02-04 18:23:10 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: http://a02235015-6.bluezone.usu.edu/api/occurrenceloan/loans?page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/ld+json; charset=utf-8
      link: <http://a02235015-6.bluezone.usu.edu/api/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
      etag: '"2297bd1cdb7129020b9a2bb2bb7cb78a"'
    body:
      encoding: UTF-8
      string: '{"@context":"\/api\/contexts\/Loans","@id":"\/api\/occurrenceloan\/loans","@type":"hydra:Collection","hydra:member":[{"@id":"\/api\/occurrenceloan\/loans\/1","@type":"Loans","id":1,"loanIdentifierOwner":"765\/06-381","loanIdentifierBorrower":null,"dateSent":"2006-06-09T00:00:00+00:00","dateSentReturn":null,"receivedStatus":null,"totalBoxes":3,"totalBoxesReturned":null,"numberOfSpecimens":null,"shippingMethod":"surface
        mail","shippingMethodReturn":null,"dateDue":"2007-06-09T00:00:00+00:00","dateReceivedOwner":null,"dateReceivedBorrower":null,"dateClosed":null,"forWhom":"Kathleen
        Pryor","description":"381 specimens of Cheilanthes, including 1 isotype and
        2 paratypes of C. yavapensis","invoiceMessageOwner":null,"invoiceMessageBorrower":null,"notes":"Partial
        return (256) on 2\/10\/2017","createdByOwner":null,"createdByBorrower":null,"processingStatus":1,"processedByOwner":null,"processedByBorrower":null,"returnProcessedByOwner":null,"returnProcessedByBorrower":null,"initialTimestamp":"2019-01-12T13:06:50+00:00","collectionIdOwner":"\/api\/collections\/1","institutionIdBorrower":"\/api\/collection\/institutions\/24","collectionIdBorrower":null,"institutionIdOwner":null,"occurrenceId":["\/api\/occurrences\/1990"]},{"@id":"\/api\/occurrenceloan\/loans\/2","@type":"Loans","id":2,"loanIdentifierOwner":"801\/08-781","loanIdentifierBorrower":null,"dateSent":"2008-09-19T00:00:00+00:00","dateSentReturn":null,"receivedStatus":null,"totalBoxes":null,"totalBoxesReturned":null,"numberOfSpecimens":null,"shippingMethod":null,"shippingMethodReturn":null,"dateDue":"2009-09-19T00:00:00+00:00","dateReceivedOwner":null,"dateReceivedBorrower":null,"dateClosed":"2012-06-06T00:00:00+00:00","forWh[...]
